:root {
  --blue: #7289da;
  --gray: #99aab5;
  --gray-dark: #2c2f33;
  --dark: #23272a;

  --primary: var(--blue);

  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.full-height {
  height: 100%;
}

.bg-dark {
  background-color: var(--dark) !important;
}

body {
  background-color: var(--dark) !important;
}

a {
  color: var(--primary);
  -webkit-transition: color 0.5s; /* Safari */
}

.container {
  max-width: 1600px !important;
}
.navbar {
  padding: 0.8rem 1rem;
}
.navbar-brand {
  font-weight: bold;
}
.navbar-collapse {
  width: 100%;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  font-size: 12px;
}

.right {
  float: right;
}

.align-right {
  text-align: right;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn:hover {
  background-color: var(--dark);
  border-color: var(--gray-dark);
  box-shadow: 0px 3px 0px var(--primary);
  color: white;
}

.add-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-btn-container .btn {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

header {
  text-align: center;
}

.btn-large {
  padding: 15px 30px;
}

.App-logo {
  animation: App-logo-spin infinite 8s linear;
  height: 80px;
}

.App-footer {
  display: flex;
  justify-content: center;
}

.App-footer-image {
  animation: App-footer-spin infinite 10s linear;
  width: 70%;
  max-width: 1050px;
  height: 400px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  box-shadow: 2px 4px 8px #111;
}

@media only screen and (max-height: 780px) {
  .App-footer-image {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .App-footer-image {
    display: none;
  }
}

.App-header {
  padding: 20px;
  color: white;
}

.App-title {
  /*font-size: 1.5em;*/
}

.App-intro {
  font-size: large;
}

.App {
  height: 100%;
}

@keyframes App-logo-spin {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  /*from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }*/
}
@keyframes App-footer-spin {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  /*from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }*/
}
